<!DOCTYPE html>

#displays their regular hours, dates of tournaments, bowling alley bar menus, and eventually, a way to reserve and pay for a lane online.
<html>
    <head>
        <title>You've got some supdog on your shirt</title>
    </head>
    <body>
      <h1> Buster's Best Bowling Alley</h1>
      <h2> Bet You Can't Bowl A Strike Every Time</h2>
      <p> 97 Bowling Alley Lane, Boulder CO </p>

      <ul>
        <li>Open 10am - 1am</li>
        <li>No current tournaments scheduled</li>
        <li><a href="http://tenpinalley.com/bar-menu/">click here for bar menu</a></li>
        <li>reserve here</li>
      </ul>

    </body>
</html>
